
@{
    ViewBag.Title = "ScheduleV2";
    Layout = "~/Views/Shared/_LayoutLTE.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <!-- Custom Tabs -->
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li><a href="#tab_ignition" data-toggle="tab">Ignition Alert</a></li>
                <li><a href="#tab_speedalert" data-toggle="tab">Speed Alert</a></li>
                <li><a href="#tab_stoppage" data-toggle="tab">Stoppage Alert</a></li>
                <li><a href="#tab_moving" data-toggle="tab">Moving Alert</a></li>
                <li class="active"><a href="#tab_fence" data-toggle="tab">Fence Alert</a></li>
                <li><a href="#tab_3" data-toggle="tab">Power Cut Alert</a></li>
                <li><a href="#tab_3" data-toggle="tab">SOS Alert</a></li>
                <li><a href="#tab_3" data-toggle="tab">AC Alert</a></li>
            </ul>
            <div class="tab-content">

                <div class="tab-pane" id="tab_ignition">
                    <div>
                        <div class="row">
                            <div class="col-md-9">
                                <div class="box box-info">
                                    <div class="form-horizontal" style="position: relative;">
                                        <div class="box-header with-border">
                                            <h3 class="box-title">Alert Setting</h3>
                                        </div>
                                        <div class="box-header with-border">
                                            <div class="">
                                                <div class="form-group">
                                                    <label for="inputSpeedLimit" class="col-sm-4 control-label">Ignition On</label>
                                                    <div class="col-sm-6">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox">
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-offset-4 col-sm-6">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox"> Is Active
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-info pull-right">Alert Receivers</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="box box-info">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Device Activation</h3>
                                    </div>
                                    <form class="form-horizontal">
                                        <div class="box-body">
                                            <div class="form-group">
                                                <div class="col-sm-10">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox"> TN 01 AB 0001
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-10">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox"> TN 01 AB 0002
                                                        </label>
                                                    </div>
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox"> TN 01 AB 0003
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="box-footer">
                            <button type="submit" class="btn btn-info pull-right">Save</button>
                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="tab_speedalert">
                    <div class="row">
                        <div class="col-md-11">
                            <div class="form-group">
                                <select class="form-control select2" style="width: 100%;">
                                    <option selected="selected">Speed #1</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <button type="submit" class="btn btn-primary">New</button>
                        </div>
                        <hr />
                    </div>
                    <div>
                        <div class="row">
                            <div class="col-md-9">
                                <div class="box box-info">
                                    <div class="form-horizontal" style="position: relative;">
                                        <div class="box-header with-border">
                                            <h3 class="box-title">Alert Setting</h3>
                                        </div>
                                        <div class="box-header with-border">
                                            <div class="">
                                                <div class="form-group">
                                                    <label for="inputSpeedLimit" class="col-sm-4 control-label">Name</label>
                                                    <div class="col-sm-6">
                                                        <input type="text" class="form-control" id="inputSpeedLimit" value="">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="inputSpeedLimit" class="col-sm-4 control-label">Description</label>
                                                    <div class="col-sm-6">
                                                        <input type="text" class="form-control" id="inputSpeedLimit" value="">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="inputSpeedLimit" class="col-sm-4 control-label">Speed Limit</label>
                                                    <div class="col-sm-2">
                                                        <input type="text" class="form-control" id="inputSpeedLimit" value="50">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-offset-4 col-sm-6">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox"> Is Active
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-info pull-right">Alert Receivers</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="box box-info">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Device Activation</h3>
                                    </div>
                                    <form class="form-horizontal">
                                        <div class="box-body">
                                            <div class="form-group">
                                                <div class="col-sm-10">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox"> TN 01 AB 0001
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-10">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox"> TN 01 AB 0002
                                                        </label>
                                                    </div>
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox"> TN 01 AB 0003
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="box-footer">
                            <button type="submit" class="btn btn-info pull-right">Save</button>
                        </div>
                    </div>

                </div>

                <div class="tab-pane" id="tab_stoppage">
                    <div class="row">
                        <div class="col-md-11">
                            <div class="form-group">
                                <select class="form-control select2" style="width: 100%;">
                                    <option selected="selected">Speed #1</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <button type="submit" class="btn btn-primary">Create</button>
                        </div>
                        <hr />
                    </div>
                    <div>
                        <div class="row">
                            <div class="col-md-9">
                                <div class="box box-info">
                                    <div class="form-horizontal" style="position: relative;">
                                        <div class="box-header with-border">
                                            <h3 class="box-title">Alert Setting</h3>
                                        </div>
                                        <div class="box-header with-border">
                                            <div class="">
                                                <div class="form-group">
                                                    <label for="inputSpeedLimit" class="col-sm-4 control-label">Name</label>
                                                    <div class="col-sm-6">
                                                        <input type="text" class="form-control" id="inputSpeedLimit" value="">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="inputSpeedLimit" class="col-sm-4 control-label">Description</label>
                                                    <div class="col-sm-6">
                                                        <input type="text" class="form-control" id="inputSpeedLimit" value="">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-12">Vehicle which stays at the same place for the</div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="inputSpeedLimit" class="col-sm-4 control-label">Duration Of</label>
                                                    <div class="col-sm-2">
                                                        <input type="text" class="form-control"> Minutes
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-offset-4 col-sm-6">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox"> Is Active
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-info pull-right">Alert Receivers</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="box box-info">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Device Activation</h3>
                                    </div>
                                    <form class="form-horizontal">
                                        <div class="box-body">
                                            <div class="form-group">
                                                <div class="col-sm-10">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox"> TN 01 AB 0001
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-10">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox"> TN 01 AB 0002
                                                        </label>
                                                    </div>
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox"> TN 01 AB 0003
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">New</button>
                            <button type="submit" class="btn btn-info pull-right">Save</button>
                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="tab_moving">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <select class="form-control select2" style="width: 100%;">
                                    <option selected="selected">#1</option>
                                </select>
                                <hr />
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="row">
                            <div class="col-md-9">
                                <div class="box box-info">
                                    <div class="form-horizontal" style="position: relative;">
                                        <div class="box-header with-border">
                                            <h3 class="box-title">Alert Setting</h3>
                                        </div>
                                        <div class="box-header with-border">
                                            <div class="">
                                                <div class="form-group">
                                                    <label for="inputSpeedLimit" class="col-sm-4 control-label">Name</label>
                                                    <div class="col-sm-6">
                                                        <input type="text" class="form-control" id="inputSpeedLimit" value="">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="inputSpeedLimit" class="col-sm-4 control-label">Description</label>
                                                    <div class="col-sm-6">
                                                        <input type="text" class="form-control" id="inputSpeedLimit" value="">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-12">Send vehicle location details for a </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="inputSpeedLimit" class="col-sm-4 control-label">Period Of Time</label>
                                                    <div class="col-sm-2">
                                                        <input type="text" class="form-control"> In Minutes
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-offset-4 col-sm-6">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox"> Is Active
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-info pull-right">Alert Receivers</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="box box-info">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Device Activation</h3>
                                    </div>
                                    <form class="form-horizontal">
                                        <div class="box-body">
                                            <div class="form-group">
                                                <div class="col-sm-10">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox"> TN 01 AB 0001
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-10">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox"> TN 01 AB 0002
                                                        </label>
                                                    </div>
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox"> TN 01 AB 0003
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">New</button>
                            <button type="submit" class="btn btn-info pull-right">Save</button>
                        </div>
                    </div>
                </div>

                <div class="tab-pane active" id="tab_fence">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <select class="form-control select2" style="width: 100%;">
                                    <option selected="selected">#1</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="row">
                            <div class="col-md-9">
                                <div class="box box-info">
                                    <input id="pac-input" class="controls" type="text" placeholder="Search Box" style="position: absolute;top: 0px;z-index: 10;margin-top: 10px;height: 32px;margin-left: 115px;padding: 5px;min-width: 350px;">
                                    <div id="fenceMapContainer" style="width : 100%; height: 450px;">

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="box box-info">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Alert Setting</h3>
                                    </div>
                                    <div class="" style="position: relative;">
                                        <div class="box-header with-border">
                                            <div class="">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" id="inputSpeedLimit" placeholder="Name">
                                                </div>
                                                <div class="form-group">
                                                    <input type="text" class="form-control" id="inputSpeedLimit" placeholder="Description">
                                                </div>
                                                <div class="form-group">
                                                    <div class="radio">
                                                        <label>
                                                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                                                            Fence In
                                                        </label>
                                                    </div>
                                                    <div class="radio">
                                                        <label>
                                                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
                                                            Fence Out
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox"> Is Active
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-info pull-right">Alert Receivers</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="box box-info">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Device Activation</h3>
                                    </div>
                                    <form class="form-horizontal">
                                        <div class="box-body">
                                            <div class="form-group">
                                                <div class="col-sm-10">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox"> TN 01 AB 0001
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-10">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox"> TN 01 AB 0002
                                                        </label>
                                                    </div>
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox"> TN 01 AB 0003
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">New</button>
                            <button type="submit" class="btn btn-default">Duplicate</button>

                            <button type="submit" class="btn btn-info pull-right">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBWUc0EJoamD0c5KFiXjdvrcSj-8qfFwDo&libraries=places"></script>

<script type="text/javascript">
    var poly;
    var map;

    function initMap() {
        map = new google.maps.Map(document.getElementById('fenceMapContainer'), {
            zoom: 10,
            center: { lat: 11.000849293365269, lng: 76.95716857910156 }  // Center the map on Chicago, USA.
        });

        poly = new google.maps.Polygon({
            strokeColor: '#AA0000',
            strokeOpacity: 0.8,
            strokeWeight: 2,
            fillColor: '#AAAAAA',
            fillOpacity: 0.4
        });

        poly.setMap(map);

        // Create the search box and link it to the UI element.
        var input = document.getElementById('pac-input');
        var searchBox = new google.maps.places.SearchBox(input);
        //map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);


        // Listen for the event fired when the user selects a prediction and retrieve
        // more details for that place.
        searchBox.addListener('places_changed', function () {
            var places = searchBox.getPlaces();

            if (places.length == 0) {
                return;
            }

            // For each place, get the icon, name and location.
            var bounds = new google.maps.LatLngBounds();
            places.forEach(function (place) {
                if (place.geometry.viewport) {
                    // Only geocodes have viewport.
                    bounds.union(place.geometry.viewport);
                } else {
                    bounds.extend(place.geometry.location);
                }
            });
            map.fitBounds(bounds);
        });

    }


    function showFenceInMap(fenceEditEle) {
        poly.setDraggable(false);
        poly.setEditable(false);

        var path = poly.getPath();
        path.clear();

        var fenceEle = $(fenceEditEle).parents("li.fenceGroup")[0];
        var fenceListEle = $(fenceEle).find(".FenceList")[0];
        var fenceList = $(fenceListEle).val().split(";");

        var bounds = new google.maps.LatLngBounds();

        fenceList.map(function (item) {
            var itmArr = item.split(",");
            var latLng = new google.maps.LatLng(parseFloat(itmArr[0]), parseFloat(itmArr[1]));
            path.push(latLng);
            bounds.extend(latLng);
            //return latLng;
        });
        map.panToBounds(bounds);
    }

    function deleteFenceInMap(fenceEditEle) {
        var path = poly.getPath();
        path.clear();
    }

    function editFenceInMap(fenceEditEle) {
        var fenceEle = $(fenceEditEle).parents("li.fenceGroup")[0];

        poly.setDraggable(true);
        poly.setEditable(true);

        var fenceListEle = $(fenceEle).find(".FenceList")[0];
        var fenceList = $(fenceListEle).val().split(";");

        var bounds = new google.maps.LatLngBounds();

        var path = poly.getPath();
        path.clear();

        if (fenceList.length > 1) {
            // Edit
            fenceList.map(function (item) {
                var itmArr = item.split(",");
                var latLng = new google.maps.LatLng(parseFloat(itmArr[0]), parseFloat(itmArr[1]));
                path.push(latLng);
                bounds.extend(latLng);
            });

            map.panToBounds(bounds);

            google.maps.event.addListener(poly, 'click', function (edge) {
                if (typeof (edge.vertex) !== "undefined") {
                    path.removeAt(edge.vertex);
                }
            });
        }
        else {
            // Create
            google.maps.event.addListener(map, 'click', function (event) {
                path.push(event.latLng);
            });
        }
    }

    function getFencePathToSave(fenceEditEle) {
        var path = poly.getPath();

        var points = path.getArray().map(function (item) {
            return item.lat() + ", " + item.lng();
        });

        var fenceListEleVal = points.join(";");

        var fenceEle = $(fenceEditEle).parents("li.fenceGroup")[0];
        var fenceListEle = $(fenceEle).find(".FenceList")[0];
        $(fenceListEle).val(fenceListEleVal);
    }

    function removeMapClickListener() {
        google.maps.event.clearListeners(map, 'click');
    }

    $(document).ready(function () {
        initMap();
    });
</script>

<script type="text/javascript">

    function processFenceEdit(ele) {
        var parentLiGp = $(ele).parents("li.fenceGroup");
        parentLiGp.find(".fencebtns").each(function (element) {
            if ($(this).hasClass("oneditbtn")) {
                $(this).show();
            } else {
                $(this).hide();
            }
        });
        parentLiGp.find(".fenceactiveChk").show();
        parentLiGp.find(".fenceNameTxt").show();
        parentLiGp.find(".fenceDisplayName").hide();

        editFenceInMap(ele);
        $(ele).parents("ul").find("li").hide();
        parentLiGp.show();
        $(".fenceCreateBtn").hide();
    }

    function processFenceSave(ele, action) {
        removeMapClickListener();
        $(ele).parents("ul").find("li").each(function () {
            if (!$(this).hasClass("delete")) {
                $(this).show();
            }
        });
        $(".fenceCreateBtn").show();

        var parentLiGp = $(ele).parents("li.fenceGroup");
        parentLiGp.find(".fencebtns").each(function (element) {
            if ($(this).hasClass("oneditbtn")) {
                $(this).hide();
            } else {
                $(this).show();
            }
        });

        parentLiGp.find(".fenceactiveChk").hide();
        parentLiGp.find(".fenceNameTxt").hide();
        parentLiGp.find(".fenceDisplayName").show();

        if (action == "save") {
            //parentLiGp.find(".fenceBckActiveChk").val(parentLiGp.find(".fenceactiveChk").val());
            parentLiGp.find(".fenceDisplayName").text(parentLiGp.find(".fenceNameTxt").val());
            parentLiGp.find(".fenceBckName").val(parentLiGp.find(".fenceNameTxt").val());

            getFencePathToSave(ele);
            showFenceInMap(ele);
        }
        else if (action == "delete") {
            deleteFenceInMap(ele);
            var deleteEle = parentLiGp.find(".IsToDelete");
            if (deleteEle.length > 0) {
                deleteEle.val(true);
                //$(ele).parent().append($("<span/>", { text: "Will be deleted on Save" }));
                //$(ele).remove();
                parentLiGp.hide();
                parentLiGp.addClass("delete");
            } else {
                parentLiGp.remove();
            }
        } else {
            //parentLiGp.find(".fenceactiveChk").val(parentLiGp.find(".fenceBckActiveChk").val());
            parentLiGp.find(".fenceDisplayName").text(parentLiGp.find(".fenceBckName").val());
            parentLiGp.find(".fenceNameTxt").val(parentLiGp.find(".fenceBckName").val());

            showFenceInMap(ele);

            if (parentLiGp.hasClass("newfence")) {
                parentLiGp.remove();
            }
        }
    }

    function AddFenceAlert() {
        var FenceAlertHolder = $("ul#FenceAlertHolder");
        var incVal = FenceAlertHolder.find("li").length;
        var li = $("<li/>", {
            class: "fenceGroup newfence",
        }).appendTo(FenceAlertHolder);

        var span1 = $("<span/>", {
            class: "",
        }).appendTo(li);

        var input1 = $("<input/>", {
            class: "fenceNameTxt",
            type: "text",
            name: "[" + incVal + "].Name",
            value: ""
        }).appendTo(span1);

        var input1 = $("<span/>", {
            class: "fenceDisplayName",
            text: "",
        }).appendTo(span1);

        $("<input/>", {
            class: "FenceList",
            type: "hidden",
            name: "[" + incVal + "].FenceListStr",
            value: ""
        }).appendTo(span1);

        $("<input/>", {
            class: "fenceBckActiveChk",
            type: "checkbox",
            name: "[" + incVal + "].IsActive",
            checked: true,
            value: true,
            style: "display: none"
        }).appendTo(span1);


        var span2 = $("<span/>", {
            class: "ctrls",
        }).appendTo(li);


        var editBtn = $("<input/>", {
            class: "btn btn-primary btn-sm fencebtns",
            type: "button",
            value: "Edit",
            style: "display: none",
            onClick: "processFenceEdit(this)"
        }).appendTo(span2);


        $("<input/>", {
            class: "btn btn-primary btn-sm fencebtns oneditbtn",
            type: "button",
            value: "Update",
            onClick: "processFenceSave(this, 'save')"
        }).appendTo(span2);

        $("<input/>", {
            class: "btn btn-danger btn-sm fencebtns oneditbtn",
            type: "button",
            value: "Delete",
            onClick: "processFenceSave(this, 'delete')"
        }).appendTo(span2);

        $("<input/>", {
            class: "btn btn-default btn-sm fencebtns oneditbtn",
            type: "button",
            value: "Cancel",
            onClick: "processFenceSave(this, 'cancel')"
        }).appendTo(span2);

        processFenceEdit(editBtn);
    }
</script>