<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section
      
      name="ProtocolList"
      type="Tracker.TcpClient.Config.ProtocolSection, Tracker.TCPClientTest"
      />
  </configSections>

  <appSettings>
    <add key="ServerIp" value="192.168.1.104"/>
    <!--<add key="ServerIp" value="52.37.147.162"/>-->
    <!--<add key="ServerIp" value="52.36.182.219"/>-->
    <!--<add key="ServerIp" value="1.23.124.170"/>-->
    <add key="ServerPort" value="50508"/>
    
    <add key="TestClientCount" value="1"/>
  
  </appSettings>

  <ProtocolList>
    <add Name="Gt100" Payload="(014114564660BP05000014114564660160122A1058.2020N07737.1966E000.016255758.63000000178L04527024)"/>

  </ProtocolList>
</configuration>