<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <!--<add name="TcpServer" connectionString="Data Source=IP_ADDRESS,PORT;Network Library=DBMSSOCN;Initial Catalog=DatabaseName;User ID=UserName;Password=Password" providerName="System.Data.SqlClient" />-->
    <!---->
    <!--<add name="TcpServer" connectionString="server=52.36.182.219,49374\SQLEXPRESS;database=Tracker;uid=ftssa;password=ftssa123admin;" providerName="System.Data.SqlClient" />-->

    <add name="TcpServer" connectionString="server=.\SQLEXPRESS;database=Tracker;uid=sa;password=sa123;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>